*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    /*padding-bottom: 80px*/;
    background: rgb(6, 24, 182);
    color: #333;
    height: 100%;

}

header{
    background-color: #797a80;
    color: white;
    text-align: center;
    padding: 3em;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-title img {
    width: 150px;
    height: auto;
}

.logo-title h1 {
    font-size: 26px;
    line-height: 1.2;
}

.other{
    display: flex;
    align-items: center;
    gap: 15px;
}

.other img{
    width: 200px;
    height: auto;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin:0;
    width: 100%;
    box-sizing: border-box;
    list-style: none;
    justify-content: center;
    background-color: #0c8f58;
}

.navbar a{
    color: black;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover{
    background-color: #f8f8f8;
    color: #0c8f58;
}

.navbar li{
    position: relative;
}

.navbar li:hover{
    background-color: #ffffff;
}

.dropdown{
    
    max-width:100vw;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    background-color: rgb(255, 136, 0);
    top: 100%;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px black;
    transition: opacity 0.3s ease;
}

.dropdown a{
    padding: 12px 16px;
    display: block;
}

.navbar li:hover .dropdown{
    opacity: 1;
    visibility: visible;
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

nav ul li{
    position: relative;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}


.right {
    background-color: rgb(248, 209, 33);
    animation: fadeIn 0.5s ease-in;
    color: rgb(163, 22, 22);
    margin-bottom: 0.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.right a{
    color: rgb(4, 54, 2);
    padding: O 5px;
    text-decoration: none;
}
main{
    margin: 0;
    width: 100%;
    background-color: rgb(221, 222, 230);
    padding: 50px 5%;
}

.search{
    position: relative;
    margin-bottom: 20px;
}

.search input {
    padding: 10px 80px 10px 35px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 20px;
}

/*.wrapper{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}*/

.search i.fa-search{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #01b619;
}

.search button{
    position: absolute;
    padding: 6px 12px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 12px;
    border: none;
    background-color: #0c8f58;
    color: white;
    border-radius:20px;
    cursor: pointer;

}

.current-weather{
    text-align: center;
}

.current-weather .temp{
    font-size:  2em;
    font-weight: bold;
}


.search button:hover{
    background-color: #09784a;
}

.weather-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-image: url(images/joburg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-bottom: 30px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.left {
    
    padding: 8px;
    border: none;
    width: 100%;
}

.hourly-forecast{
    background-color: #ffffff5e;
    padding: 20px;
    border-radius:  15px;
    margin-top: 20px;
    color: #333;
    
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

.hourly-forecast h3{
    
    margin-bottom: 15px;
    text-align: left;
    color: #060aff;
    font-size: 1.2rem;
}

.scroll{
    display: flex;
    overflow-x: auto;
    gap: 40px;
    padding-bottom: 5px;
}

.hour{
    flex: 0 0 auto;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    
}

.hour p{
    margin: 5px 0;
    font-size: 18px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: static;
    width: 100%;
    bottom: 0;
}


/* Weather Table Styles */
    #weather-table {
    width: 100%;
    margin: 40px 0; /* adds spacing from the container */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    #weather-table h2 {
        text-align: center;
    color: #0c8f58;
    margin-bottom: 20px;
    }

    .content-wrapper{
        width:100%;
        display: flex;
        flex-direction: column;
        gap: 200px;
    }

    #weather-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    
    }

    #weather-table th,
    #weather-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    }

    #weather-table th {
    background-color: #0c8f58;
    color: white;
    }

    #weather-table tr:nth-child(even) {
    background-color: #f2f2f2;
    }

    #weather-table td {
    font-size: 14px;
    }
/* Sidebar Styles*/
.weather-sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: -20px 0 50px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: colummn;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.weather-sidebar h2{
    margin-bottom: 20px;
    font-size: 20px;
color: #333;
}
.weather-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-icon h3{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.weather-info h3{
    margin: 5px 0;
    color: #222;
}
.weather-info p{
    margin: 2px 0;
    color: #555;
}
